<div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="loginModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="loginModalLabel">ورود به داشبورد</h5>
            </div>
            <div class="modal-body">
                <p>لطفا نام کاربری خود را  وارد کنید.</p>
                <form id="loginForm">
                    <div class="mb-3">
                        <label for="usernameInput" class="form-label">نام کاربری</label>
                        <input type="text" class="form-control" id="usernameInput" required>
                    </div>
                    <button type="submit" class="btn btn-primary w-100">ورود</button>
                </form>
            </div>
        </div>
    </div>
</div>
