{% load static %}

<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}داشبورد اعلان‌ها{% endblock %}</title>
        <link href="https://db.onlinewebfonts.com/c/235b71a9b409e684e865eb4a996e925e?family=IRANYekan" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.rtl.min.css" rel="stylesheet">
     <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/jalalidatepicker/dist/css/jalalidatepicker.min.css" />
    <link rel="stylesheet" href="{% static 'notifications/css/styles.css' %}">
    {% block extra_css %}{% endblock %}
</head>
<body hx-ext="ws"> {% block content %}
    {% endblock %}

    <script src="https://unpkg.com/htmx.org@1.9.10" defer></script>
    <script src="https://unpkg.com/htmx.org/dist/ext/ws.js" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" defer></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/jalalidatepicker/dist/jalalidatepicker.min.js"></script>
    <script src="{% static 'notifications/js/main.js' %}" defer></script>
    {% block extra_js %}{% endblock %}
</body>
</html>
